body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    background-color: #333;
    /* Dark gray background */
    color: #fff;
    /* White text */
    text-align: center;
    /* Center align text */
    padding: 20px;
    /* Add padding */
}

.header {
    background-color: #174e70;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    background-color: #333333;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
}

.about-me {
    background-color: #174e70;
    color: #fff;
}

.nm {
    width: 25%;
    height: 25%;
}

div {
    display: flex;
}

article {
    display: flex;

}

h2 {
    text-align: center;
}

main {
    margin: 1rem;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 2px solid #ccc;
    max-width: 30rem;
}

aside {
    margin: 1rem;
    border-radius: 5px;
    width: 20rem;
    background-color: #FFFFFF;
    border: 2px solid #C1c1c1;
}

footer {
    text-align: center;
    background-color: #174e70;
    padding: 1rem;
    color: #fff;
}