* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

/* mobile **************************/
header {
    background-color: #ffb7c5;
    color: #a50000;
}

h1 {
    padding: 1rem;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: tomato;
    display: flex;
    flex-direction: column
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

main {
    padding: 2rem;
}

h2 {
    text-align: center;
    padding: 1rem;
}


.data-span {
    text-align: center;
}

div {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}


footer {
    background-color: #ffb7c5;
    color: #a50000;
    text-align: center;
    padding: 1rem;
}

.weather-icon {
    width: 150px;
}